<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-notification 
    [message]="notificationMessage" 
    [type]="notificationType" 
    [isVisible]="isNotificationVisible">
  </app-notification>
  

  <form [formGroup]="routeForm">
    <ion-item>
      <ion-label position="floating">Hora de Salida</ion-label>
      <ion-input formControlName="startTime" type="time" placeholder="Ingresa la hora de salida"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-input [value]="selectedDate | date: 'dd/MM/yyyy'" readonly="true" (click)="openDatePicker()">
      </ion-input>
    </ion-item>
    
    <!-- Modal para el selector de fecha -->
    <ion-modal [isOpen]="isDatePickerOpen">
      <ng-template>
        <ion-content>
          <ion-datetime [value]="selectedDate" displayFormat="DD/MM/YYYY" (ionChange)="onDateSelected($event)"
            (ionCancel)="closeDatePicker()" presentation="date">
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>


    <ion-item>
      <ion-label position="floating">Asientos disponibles</ion-label>
      <ion-input formControlName="availableSeats" type="number" min="1"
        placeholder="¿Cuántos asientos tienes libres?"></ion-input>
    </ion-item>

    <!-- Campo para agregar puntos -->
    <ion-item>
      <ion-label position="floating">Agregar Punto de Parada</ion-label>
      <ion-input formControlName="waypoint" type="text" #waypointInput placeholder="Selecciona un punto"></ion-input>
    </ion-item>
    <!-- Botón para limpiar el mapa -->
    <ion-button expand="full" color="danger" (click)="clearMap()">Limpiar Mapa</ion-button>
    <!-- Contenedor del mapa -->
    <div id="map" style="height: 400px; width: 100%;"></div>
    <br>
    
    
    <!-- Botón para crear la ruta -->
    <ion-button expand="full" type="button" (click)="onCreateRoute()">Crear Ruta</ion-button>
  </form>
  <ion-button expand="full" color="primary" (click)="testNotification()">
    Probar Notificación
  </ion-button>
</ion-content>