.notification {
  position: fixed;
  bottom: 20px;  // Ajusta según prefieras
  right: 20px;   // Ajusta según prefieras
  z-index: 9999;
  background-color: #444;  // Ajusta el color según el tipo de notificación
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;

  &.success {
    background-color: #4caf50;
  }
  
  &.error {
    background-color: #f44336;
  }

  &.info {
    background-color: #2196f3;
  }

  &.warning {
    background-color: #ff9800;
  }

  button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 15px;
  }
}
